*{
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 3%;
    background-color: black;
}
/*****Überschriften*****/
h1{
    font-size: 200px;
    color: white;
    text-align: center;
    margin: 0;
}
h2{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 0;
}
h3{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2%;
}
/*****Menüleiste*****/
nav{
    display: flex;
    justify-content: flex-end;
    position:fixed;
    top:0%;
    width: 100%;
    font-size:0;
    background-color:black;
    text-align:center;
}
nav a{
    display: inline-block;
    font-size:1vw;
    width:10%;
    color: rgb(109, 109, 109);
    text-decoration:none;
    padding:1%;
    text-align:center;
    transition: 1s;
}
nav a:hover{
    color: white;
}
/******Home*****/
#bodyHome{
    background-image: url(img/home2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
    background: hsla(0, 5%, 0%, 0.72);
    margin-top: 0;
    padding-top: 22%;
}
/*****Slideshow*****/
#collage img{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;

}
#collage{
    margin-top: 0;
    display: flex;
    margin-bottom: 3%;
}
.middle{
    box-shadow: 1px 1px 20px 10px white;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}
.second{
    box-shadow: 1px 1px 20px 10px white;
    width: 17%;
    height: auto;
    opacity: 75%;
}
.out{
    box-shadow: 1px 1px 20px 10px white;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    height: auto;
    opacity: 50%;
}

#left{
    margin-top: -1%;
    margin-left: 40%;
    margin-right: auto;
    width: 10%;
}
#right{
    margin-top: -1.1%;
    margin-right: 45%;
    margin-left: auto;
    width: 10.5%;
}
#arrow{
    display: flex;
}
/*****Steckbrief*****/
#box{
    display: flex;
    width: 90%;
}
#text{
    width: 40%;
    color: white;
    padding-left: 10%;
    padding-top: 5%;
    font-size: 25px;
}
#bild{
    display: flex;
    width: 60%;
    text-align: center;
}
#bild img{
    width: 40%;
    border-radius: 15px;
    margin: 1% 5%;
}

/*******Responsive design max-width: 767px (Smartphone)************/
@media screen and (max-width:900px){
    body{
        overflow:scroll;
    }
    nav{
        position:fixed;
        font-size:0;
        text-align:center;
    }
    nav a{
        font-size:3vw;
        text-decoration: none;
        padding: 2%;
        width: 100%;
        transition: 1s;
    }
    h1{
        font-size: 100px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        margin: 7%;
        font-size: 30px;
    }
    #bodyHome{
        background-image: url(img/home3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .middle{
        width: 85%;
    }
    .second{
        width: 0;
    }
    .out{
        width: 0;
    }
    #collage{
        margin-bottom: 8%;
    }
    #box{
        display: block;
        width: 90%;
    }
    #text{
        width: 100%;
        font-size: 20px;
        text-align:center;
    }
    #text p{
        margin: 1%;
    }
    #bild{
        display: block;
        width: 100%;
        text-align: center;
    }
    #bild img{
        width: 100%;
        border-radius: 15px;
    }
}